---
type Props = {
  title: string;
  webLink: string;
  years: string;
  position: string;
  skills: Array<string>;
};

const { title, webLink, years, position, skills } = Astro.props;
---

<div
  class="card card-compact bg-primary text-primary-content w-full opacity-80 hover:opacity-100"
>
  <div class="card-body flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <div class="grid gap-2">
        <div class="flex gap-2 items-center">
          <h2 class="card-title font-bold m-0">{title}</h2>
          <a target="_blank" href={webLink}>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-up-right"
              ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
            >
          </a>
        </div>
        <span class="font-semibold">{position}</span>
      </div>
      <div class="whitespace-nowrap font-semibold">{years}</div>
    </div>
    <slot />
    <div class="flex flex-wrap gap-2">
      {
        skills.map((skill) => {
          return <span class="badge badge-neutral font-semibold">{skill}</span>;
        })
      }
    </div>
  </div>
</div>
